main {
  display: flex;
  overflow-x: auto;
  padding: 40px 20px;
  gap: 20px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

main::-webkit-scrollbar {
  height: 8px;
}
main::-webkit-scrollbar-thumb {
  background-color: #e50914;
  border-radius: 4px;
}
